body{background-image:url(img/fundo.png);
	background-color:;
	background-repeat: no-repeat ;
	background-position: center;
	background-attachment: fixed;
	background-size:cover;
	text-align:center}	
	#Supremo{border:10px inset black;
			background-color:white;
			width:1028px;
			height:;
			margin:0px auto;}
			
		#Little{border :2px solid black;
			background-color:#4068A3;
			width: 1000px;
			height:;
			margin: 5px auto;
			text-align:center;
			}
		#Frase1{font-size:45px;
		font-family:French Script MT,Gabriola,Futara;
		float:center;
		margin:10px}
		#Frase2{Font-size:25px;
		font-family:Calibri;
		margin:0px;
		margin-left:-10%;
		transform: translate(-10%, -10%)}
		
		#Logo{padding:1px;
		background:url(img/Logos.png);
		background-repeat: no-repeat ;
		background-position: center ;
		background-color:white;
		width  : 118px;
		height : 118px ;
		border-width : 2px ;
		border-color : black ;
		border-style : solid ;
		margin-bottom:10px;
		border-radius: 60px;
		float: left;
		margin:5px;
		text-align:center;
		text-align:left;}
			#US a{float: right;
				width:100px;
				margin:5px;
				font-family:Times New Roman;
				text-decoration:none}
				#US a:visited{font-family:Times New Roman;
				color:black;}
			#Links{	border:1px inset silver;
				width:970px;
				height:100px;
				margin:0px auto;
				border-radius:30px;
				}	
			.links{width:160px;
				color: black;
				float:left;
				font-size:15px;
				font-family:Times New Roman;
				font-weight: bold;
				text-align:center;
				margin:0px auto;
				}
			.links a{text-decoration:none}
			#Home a{border:;
					width:190px;
					text-align:left;
					margin:4px;
					color:Blue;
					text-decoration:none}
				#Home a:visited{color:blue;
				font-family:times new romam;}

					#supremo{
			height: 950px;
		}
		#ofertas{
			border: 1px solid;
			width: 300px;
			height: 280px;
			margin: 10px;
			border-radius:5px;
			background-color:#F5F5F5;
		}
		#passagens{
			border: 0px solid;
			width: 680px;
			height: 80px;
			margin: 10px;
			border-radius:5px;
			
		}
		#principal{
			border: 0px solid;
			display: flex;
			}
		#quadrado1{
			border: 1px solid;
			width: 320px;
			height:220px;
			margin: 10px;
			border-radius: 10px;
			float: left;
			background-color:#F5F5F5;
			

		}
		
		#imag{
			width: 298px;
			height: 200px;
			border-radius: 20px;
		}
		#imag2{
			width: 298px;
			height: 220px;
			border-radius: 20px
		}
		.pesquisa{
			margin: 20px;
			
		}
		#img1{
			width:300px; 
			height:280px;
		}
		form>input{
			border:10px solid black;
			width: 200px;
			height: 40px;
			font-size:105%;
			border-width:0px;
			border-radius: 6px  6px 6px 6px;
			background-color:#F5F5F5;
			
		}
		button{
			border-width:0px;
			border-radius: 0px 6px 6px 0px;
			background-color: #4682B4;
			color:white;
			width: 100px;
			height: 40px
		}
		#top1{
			border:10px solid black;
			border-width:0px;
			border-radius: 10px;
			background-color:#F5F5F5;}
		.rodape{
		border:1px solid black;
		width:983px;
		float:right;
		text-align:left;
		background-color:#037EFF;
		margin-left: 25%;
		margin:2%;
		}
