body{background-image:url(img/fundo.png);
	background-color:;
	background-repeat: no-repeat ;
	background-position: center;
	background-attachment: fixed;
	background-size:cover;
	text-align:center}	
	#Supremo{border:10px inset black;
			background-color:white;
			width:1028px;
			height:;
			margin:0px auto;}
			
		#Little{border :2px solid black;
			background-color:#4068A3;
			width: 1000px;
			height:;
			margin: 5px auto;
			text-align:center;
			}
		#Frase1{font-size:45px;
		font-family:French Script MT,Gabriola,Futara;
		float:center;
		margin:10px}
		#Frase2{Font-size:25px;
		font-family:Calibri;
		margin:0px;
		margin-left:-10%;
		transform: translate(-10%, -10%)}
		
		#Logo{padding:1px;
		background:url(img/Logos.png);
		background-repeat: no-repeat ;
		background-position: center ;
		background-color:white;
		width  : 118px;
		height : 118px ;
		border-width : 2px ;
		border-color : black ;
		border-style : solid ;
		margin-bottom:10px;
		border-radius: 60px;
		float: left;
		margin:5px;
		text-align:center;
		text-align:left;}
			#US a{float: right;
				width:100px;
				margin:5px;
				font-family:Times New Roman;
				text-decoration:none}
				#US a:visited{font-family:Times New Roman;
				color:black;}
			#Links{	border:1px inset silver;
				width:970px;
				height:100px;
				margin:0px auto;
				border-radius:30px;
				}	
			.links{width:160px;
				color: black;
				float:left;
				font-size:15px;
				font-family:Times New Roman;
				font-weight: bold;
				text-align:center;
				margin:0px auto;
				}
			.links a{text-decoration:none}
			#Home a{border:;
					width:190px;
					text-align:left;
					margin:4px;
					color:Blue;
					text-decoration:none}
				#Home a:visited{color:blue;
				font-family:times new romam;}
				#PP{width:1024px;
				margin:0px auto;}
				#bordapesquisa{ margin:0px auto;
								width:}
					#Pesquisa{width:;
							  height:;
							  margin:0px;
							  float:left;
							  font-family:Times New Roman;
							  font-size:17px;}
						#areadepesquisa{margin:px}
						#Pesquisar{border:2px inset white;}
				#Desejo {float:right}
				#Escolha{text-align:center;
				font-family:Times New Roman;
				font-size:17px;}
				#Select, #Escolher{margin:3px; border: 2px inset white}		
				#flat{width:1028px;
					  text-align:center}
				.atração1  {border:;
							margin:50px auto;
							height:500px;
							width:950px;
							font-family:Comic sans ms;
							float:center}
				.atração {border:1px inset black;
						  margin:5px;
						  float:left;
						  height:520px;
						  width:450px;
						  text-align:center;
						  background-color:white;
						  }
				.nome{border:3px inset black ;
					  height:;
					  width:250px;
					  margin:5px auto;
					  text-align:center;
					  font-family:gabriola;
					  font-size:25px;
					  font-weight:bold;}
				.tipo{border:;
					  height:25px;
					  width:200px;
					  margin:5px auto;
					  text-align:center;}
				.estado{border:;
					  height:25px;
					  width:150px;
					  margin:5px auto;
					  text-align:center;
					  text-decoration:underline;}
				.sobre{border:2px inset black;
					  height:;
					  width:400px;
					  margin:0px auto;
					  text-align:center;
					  font-family:arial;}
				.star{border:;
					  height:25px;
					  width:135px;
					  margin:5px auto;
					  text-align:center;} 
				.imagens{border:;
						 margin:0px auto ;
						 height:230px;
						 width:375px;}
				.imagenG{float:left;
						 margin:7px;}
				.imagen{float:right;
						margin:7px auto;}
				.preço{margin:auto;
					   border:;
					   width:200px;
					   height:25px;}
				#numeração {border:;
							margin:40px auto;
							text-align:center;
							width:1020;
							height:;
							font-weight:bold;}
				.numero{float:center;
						margin:px auto;}
						#numeração a:visited{color:blue}
				#Rodape{background-color:#037EFF;
				width:1028px;
				height:23;
				font-family:Times New Roman;
				text-align:left;}
Comic
bold