body{background-image:url(img/fundo.png);
	background-color:;
	background-repeat: no-repeat ;
	background-position: center;
	background-attachment: fixed;
	background-size:cover;
	text-align:center}	
	#Supremo{border:10px inset black;
			background-color:white;
			width:1028px;
			height:2105px;
			margin:5px auto;}
			
	#Little{border :2px solid black;
			background-color:#4068A3;
			width: 1000px;
			height:;
			margin: 5px auto;
			text-align:center;}
	#Frase1{font-size:45px;
		font-family:French Script MT,Gabriola,Futara;
		float:center;
		margin:10px}
		#Frase2{Font-size:25px;
		font-family:Calibri;
		margin:0px;
		margin-left:-10%;
		transform: translate(-10%, -10%)}
		
	#Logo{padding:1px;
				background:url(img/Logos.png);
				background-repeat: no-repeat ;
				background-position: center ;
				background-color:white;
				width  : 118px;
				height : 118px ;
				border-width : 2px ;
				border-color : black ;
				border-style : solid ;
				margin-bottom:10px;
				border-radius: 60px;
				float: left;
				margin:5px;
				text-align:center;
				text-align:left;}
	
	#US a{float: right;
			width:100px;
			text-align:center;
			border:;
			margin:5px;
			font-family:Times New Roman;
			text-decoration:none}
	#US a:visited{font-family:Times New Roman;
				color:black;}
	#Links{border:1px inset silver;
                width:970px;
                height:100px;
                margin:0px auto;
                border-radius:30px;}	
		.links{width:160px;
					color: black;
					float:left;
					font-size:15px;
					font-family:Times New Roman;
					font-weight: bold;
					text-align:center;
					margin:0px auto;}
		.links a{text-decoration:none}
	#Home a{text-align:left;
				width:190px;
				margin:4px;
				color:Blue;
				text-decoration:none}
	#Home a:visited{color:blue;
				font-family:times new romam;}
	#bronze { border: 1px inset black;
				background-color:#B43104;
				font-size:19px;
				width:450px;
				height:450px;
				margin:30px;
				float:left;
				border-radius:30px;}
	#prec { border: 1px inset black;
				font-size:15px;
				background-color:white;
				width:450px;}
	#prata { border: 1px inset black;
				font-size:20px;
				background-color:#BDBDBD;
				width:450px;
				height:450px;
				margin:30px;
				float:right;
				border-radius:30px;} 
	#ouro {	border: 1px inset black;
				font-size:20px;
				background-color:#FFFF00;
				width:450px;
				height:450px;
				margin:30px;
				float:left;
				border-radius:30px;}
	#premium {	border: 1px inset black;
				font-size:20px;
				background-color:#0174DF;
				width:450px;
				height:450px;
				margin:30px;
				float:left;
				border-radius:30px;}
	#inf {border: 0px inset black;
				font-size:30px;
				background-color:white;
				font-family:French Script MT,Gabriola,Futara;}
	#inff {border: 0px inset black;	
				font-size:15px;
				background-color:white; }
	#fotos {border: 0px inset black;
				background-color:white;}
	#galeria {font-size:30px;
				color:black;}
	#fotoss1 {float:left;
				margin:20px;}
	#fotoss2 {float:right;
				margin:20px;}
	.rodape{border:1px solid black;
		width:1020px;
		float:left;
		text-align:left;
		background-color:#037EFF;
		margin:3px;
		font-family:Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
		}
		.teste{width:1000px}
				